body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background-image: url("images/bgImage.jpg");
  
    /* Full height */
    height: 50%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .centered {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.5);
      color: #f1f1f1;
      font-size: 70px;
      text-align: center;
      
  }
  .column{
      float: left;
      padding: 10px;
      height: 300px;
  }
  .left {
      width: 25%;
  }
  .right {
      width: 75%;
  }
  
  